:root {
    --main-color: #005504;
    --secondary-main-color: #009107;
    --active-color: #e2ff60;
    --text-color: #cfffd1;
    --secondary-text-color: #e8ffe9;
    --default-background: #ffffff;
    --secondary-background: #dfffe1;
    --default-border-radius: 20px;
    --default-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.main {
    background: linear-gradient(to right, var(--main-color), var(--secondary-main-color));
}

.centerdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: block;
    height: 50px;
    width: 50px;
}

.parent {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto auto;
}

.parent header {
    grid-row: 1;
    grid-column: 1 / -1;
    background: var(--default-background);
    position: sticky;
    top: 10px;
    z-index: 100;
}

.parent main {
    grid-row: 2 / 3;
    grid-column: 1;
    background: var(--default-background);
    min-height: 2000px;
}

.parent aside {
    grid-row: 2 / 4;
    grid-column: 2;
    background: var(--default-background);
    max-height: 500px;
}

.parent footer {
    grid-row: 4;
    grid-column: 1 / -1;
    background: var(--default-background);
    position: sticky;
    bottom: 10px;
    z-index: 100;
}

.parent header,
.parent aside,
.parent footer,
.parent main {
    border: thin solid;
    border-color: var(--secondary-main-color);
    border-radius: 10px;
    padding: .5em;
    margin: .5em;
}

.title {
    align-content: center;
    color: var(--main-color);
}

.btn {
    background-color: var(--secondary-background);
    color: var(--main-color);
    padding: 16px;
    font-size: 16px;
    border: none;
    max-height: 40px;
    min-width: 90px;
    border-radius: var(--default-border-radius);
    align-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-background);
    min-width: 90px;
    box-shadow: var(--default-shadow);
    z-index: 1;
}

.dropdown-content a {
    color: var(--main-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--default-background);
    border-radius: var(--default-border-radius);
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: var(--default-border-radius);
}

.dropdown:hover .dropbtn {
    background-color: var(--text-color);
}

.activeSite {
    color: var(--active-color);
    cursor: pointer;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 150;
}

a {
    color: var(--main-color);
}

a:visited {
    color: var(--secondary-main-color);
}